In [1]:
from pandas_summary import DataFrameSummary
from scipy.stats import ttest_ind
import pandas as pd
import numpy as np
import csv

In [2]:
fn_pt = pd.read_pickle('../../../data/hcup/nis/all_year_combination/cleaned_for_repcv.pickle')
# fn_pt = pd.read_pickle('../../../data/hcup/nis/all_year_combination/total_withage_withCCI_filtered.pickle')

In [3]:
len(fn_pt)

126013

In [4]:
list(fn_pt.columns)

['MDC',
 'DRG',
 'CM_LYMPH',
 'CM_LIVER',
 'CM_PARA',
 'CM_RENLFAIL',
 'CM_AIDS',
 'CM_ALCOHOL',
 'CM_ANEMDEF',
 'CM_ARTH',
 'CM_BLDLOSS',
 'CM_CHF',
 'CM_CHRNLUNG',
 'CM_COAG',
 'CM_DEPRESS',
 'CM_DM',
 'CM_DMCX',
 'CM_DRUG',
 'CM_HTN_C',
 'CM_HYPOTHY',
 'CM_LYTES',
 'CM_METS',
 'CM_OBESE',
 'CM_NEURO',
 'CM_PERIVASC',
 'CM_PSYCH',
 'CM_PULMCIRC',
 'CM_ULCER',
 'CM_VALVE',
 'CM_WGHTLOSS',
 'CM_TUMOR',
 'CCI',
 'AMONTH_1',
 'AMONTH_2',
 'AMONTH_3',
 'AMONTH_4',
 'AMONTH_5',
 'AMONTH_6',
 'AMONTH_7',
 'AMONTH_8',
 'AMONTH_9',
 'AMONTH_10',
 'AMONTH_11',
 'AMONTH_12',
 'DQTR_1',
 'DQTR_2',
 'DQTR_3',
 'DQTR_4',
 'HOSP_REGION_1',
 'HOSP_REGION_2',
 'HOSP_REGION_3',
 'HOSP_REGION_4',
 'H_CONTRL_1',
 'H_CONTRL_2',
 'H_CONTRL_3',
 'PAY1_1',
 'PAY1_2',
 'PAY1_3',
 'PAY1_4',
 'PAY1_5',
 'PAY1_6',
 'RACE_1',
 'RACE_2',
 'RACE_3',
 'RACE_4',
 'RACE_5',
 'RACE_6',
 'AWEEKEND',
 'ELECTIVE',
 'FEMALE',
 'ORPROC',
 'ZIPINC_QRTL_1',
 'ZIPINC_QRTL_2',
 'ZIPINC_QRTL_3',
 'ZIPINC_QRTL_4',
 'HCUP_ED_0',
 'HCUP_ED_1',
 'HCUP_ED_2',
 'HCUP_ED_3',
 'HCUP_ED_4',
 'HOSP_LOCTEACH_1',
 'HOSP_LOCTEACH_2',
 'HOSP_LOCTEACH_3',
 'HOSP_BEDSIZE',
 'N_DISC_U',
 'N_HOSP_U',
 'AGE',
 'TOTCHG',
 'NDX',
 'NPR',
 'TOTAL_DISC',
 'NCHRONIC',
 'NECODE',
 'S_DISC_U',
 'S_HOSP_U',
 'PL_NCHS',
 'KEY_NIS',
 'KEY',
 'ASEASON_SPRING',
 'ASEASON_SUMMER',
 'ASEASON_FALL',
 'ASEASON_WINTER',
 'DRG_1',
 'DRG_10',
 'DRG_100',
 'DRG_101',
 'DRG_102',
 'DRG_103',
 'DRG_11',
 'DRG_116',
 'DRG_12',
 'DRG_121',
 'DRG_122',
 'DRG_123',
 'DRG_124',
 'DRG_125',
 'DRG_126',
 'DRG_127',
 'DRG_128',
 'DRG_129',
 'DRG_130',
 'DRG_131',
 'DRG_133',
 'DRG_134',
 'DRG_135',
 'DRG_137',
 'DRG_138',
 'DRG_14',
 'DRG_141',
 'DRG_143',
 'DRG_144',
 'DRG_145',
 'DRG_146',
 'DRG_147',
 'DRG_148',
 'DRG_149',
 'DRG_15',
 'DRG_150',
 'DRG_151',
 'DRG_152',
 'DRG_153',
 'DRG_154',
 'DRG_155',
 'DRG_156',
 'DRG_157',
 'DRG_158',
 'DRG_159',
 'DRG_16',
 'DRG_161',
 'DRG_163',
 'DRG_164',
 'DRG_165',
 'DRG_166',
 'DRG_167',
 'DRG_168',
 'DRG_17',
 'DRG_170',
 'DRG_172',
 'DRG_174',
 'DRG_175',
 'DRG_176',
 'DRG_177',
 'DRG_178',
 'DRG_179',
 'DRG_180',
 'DRG_181',
 'DRG_182',
 'DRG_183',
 'DRG_184',
 'DRG_185',
 'DRG_186',
 'DRG_187',
 'DRG_188',
 'DRG_189',
 'DRG_190',
 'DRG_191',
 'DRG_192',
 'DRG_193',
 'DRG_194',
 'DRG_195',
 'DRG_196',
 'DRG_197',
 'DRG_199',
 'DRG_200',
 'DRG_201',
 'DRG_202',
 'DRG_203',
 'DRG_204',
 'DRG_205',
 'DRG_206',
 'DRG_207',
 'DRG_208',
 'DRG_21',
 'DRG_210',
 'DRG_216',
 'DRG_217',
 'DRG_218',
 'DRG_219',
 'DRG_220',
 'DRG_224',
 'DRG_226',
 'DRG_228',
 'DRG_23',
 'DRG_233',
 'DRG_236',
 'DRG_237',
 'DRG_238',
 'DRG_239',
 'DRG_240',
 'DRG_242',
 'DRG_243',
 'DRG_246',
 'DRG_247',
 'DRG_248',
 'DRG_249',
 'DRG_25',
 'DRG_250',
 'DRG_251',
 'DRG_252',
 'DRG_253',
 'DRG_254',
 'DRG_26',
 'DRG_260',
 'DRG_263',
 'DRG_264',
 'DRG_265',
 'DRG_269',
 'DRG_27',
 'DRG_272',
 'DRG_274',
 'DRG_275',
 'DRG_276',
 'DRG_277',
 'DRG_278',
 'DRG_28',
 'DRG_280',
 'DRG_281',
 'DRG_282',
 'DRG_283',
 'DRG_284',
 'DRG_286',
 'DRG_287',
 'DRG_288',
 'DRG_289',
 'DRG_29',
 'DRG_290',
 'DRG_291',
 'DRG_292',
 'DRG_293',
 'DRG_294',
 'DRG_296',
 'DRG_297',
 'DRG_299',
 'DRG_3',
 'DRG_300',
 'DRG_301',
 'DRG_302',
 'DRG_303',
 'DRG_304',
 'DRG_305',
 'DRG_307',
 'DRG_308',
 'DRG_309',
 'DRG_31',
 'DRG_310',
 'DRG_311',
 'DRG_312',
 'DRG_313',
 'DRG_314',
 'DRG_315',
 'DRG_316',
 'DRG_318',
 'DRG_32',
 'DRG_320',
 'DRG_321',
 'DRG_323',
 'DRG_326',
 'DRG_327',
 'DRG_329',
 'DRG_330',
 'DRG_331',
 'DRG_332',
 'DRG_333',
 'DRG_335',
 'DRG_336',
 'DRG_337',
 'DRG_338',
 'DRG_339',
 'DRG_34',
 'DRG_340',
 'DRG_341',
 'DRG_342',
 'DRG_344',
 'DRG_345',
 'DRG_347',
 'DRG_348',
 'DRG_349',
 'DRG_350',
 'DRG_351',
 'DRG_353',
 'DRG_354',
 'DRG_356',
 'DRG_357',
 'DRG_358',
 'DRG_359',
 'DRG_363',
 'DRG_366',
 'DRG_367',
 'DRG_368',
 'DRG_369',
 'DRG_370',
 'DRG_371',
 'DRG_372',
 'DRG_373',
 'DRG_374',
 'DRG_375',
 'DRG_376',
 'DRG_377',
 'DRG_378',
 'DRG_379',
 'DRG_38',
 'DRG_380',
 'DRG_381',
 'DRG_383',
 'DRG_384',
 'DRG_385',
 'DRG_386',
 'DRG_387',
 'DRG_388',
 'DRG_389',
 'DRG_390',
 'DRG_391',
 'DRG_392',
 'DRG_393',
 'DRG_394',
 'DRG_395',
 'DRG_397',
 'DRG_398',
 'DRG_4',
 'DRG_40',
 'DRG_401',
 'DRG_403',
 'DRG_404',
 'DRG_405',
 'DRG_406',
 'DRG_408',
 'DRG_409',
 'DRG_41',
 'DRG_410',
 'DRG_413',
 'DRG_414',
 'DRG_415',
 'DRG_416',
 'DRG_417',
 'DRG_418',
 'DRG_419',
 'DRG_42',
 'DRG_420',
 'DRG_421',
 'DRG_423',
 'DRG_424',
 'DRG_432',
 'DRG_433',
 'DRG_435',
 'DRG_436',
 'DRG_437',
 'DRG_438',
 'DRG_439',
 'DRG_440',
 'DRG_441',
 'DRG_442',
 'DRG_443',
 'DRG_444',
 'DRG_445',
 'DRG_446',
 'DRG_449',
 'DRG_452',
 'DRG_453',
 'DRG_454',
 'DRG_456',
 'DRG_457',
 'DRG_459',
 'DRG_46',
 'DRG_461',
 'DRG_462',
 'DRG_463',
 'DRG_464',
 'DRG_465',
 'DRG_466',
 'DRG_468',
 'DRG_469',
 'DRG_470',
 'DRG_471',
 'DRG_472',
 'DRG_473',
 'DRG_474',
 'DRG_475',
 'DRG_477',
 'DRG_478',
 'DRG_480',
 'DRG_481',
 'DRG_482',
 'DRG_485',
 'DRG_486',
 'DRG_488',
 'DRG_489',
 'DRG_490',
 'DRG_492',
 'DRG_493',
 'DRG_494',
 'DRG_495',
 'DRG_496',
 'DRG_497',
 'DRG_498',
 'DRG_5',
 'DRG_500',
 'DRG_501',
 'DRG_503',
 'DRG_504',
 'DRG_506',
 'DRG_510',
 'DRG_513',
 'DRG_515',
 'DRG_516',
 'DRG_519',
 'DRG_521',
 'DRG_524',
 'DRG_529',
 'DRG_53',
 'DRG_533',
 'DRG_535',
 'DRG_536',
 'DRG_539',
 'DRG_54',
 'DRG_540',
 'DRG_541',
 'DRG_542',
 'DRG_543',
 'DRG_544',
 'DRG_545',
 'DRG_546',
 'DRG_547',
 'DRG_548',
 'DRG_549',
 'DRG_55',
 'DRG_550',
 'DRG_551',
 'DRG_552',
 'DRG_553',
 'DRG_554',
 'DRG_555',
 'DRG_556',
 'DRG_557',
 'DRG_558',
 'DRG_559',
 'DRG_56',
 'DRG_560',
 'DRG_561',
 'DRG_562',
 'DRG_563',
 'DRG_564',
 'DRG_565',
 'DRG_566',
 'DRG_567',
 'DRG_569',
 'DRG_57',
 'DRG_570',
 'DRG_571',
 'DRG_572',
 'DRG_573',
 'DRG_574',
 'DRG_575',
 'DRG_576',
 'DRG_578',
 'DRG_579',
 'DRG_58',
 'DRG_580',
 'DRG_581',
 'DRG_582',
 'DRG_583',
 'DRG_584',
 'DRG_585',
 'DRG_592',
 'DRG_593',
 'DRG_595',
 'DRG_596',
 'DRG_597',
 'DRG_598',
 'DRG_599',
 'DRG_600',
 'DRG_601',
 'DRG_602',
 'DRG_603',
 'DRG_604',
 'DRG_605',
 'DRG_606',
 'DRG_607',
 'DRG_62',
 'DRG_628',
 'DRG_629',
 'DRG_637',
 'DRG_638',
 'DRG_639',
 'DRG_64',
 'DRG_640',
 'DRG_641',
 'DRG_642',
 'DRG_643',
 'DRG_644',
 'DRG_645',
 'DRG_65',
 'DRG_652',
 'DRG_654',
 'DRG_656',
 'DRG_657',
 'DRG_658',
 'DRG_659',
 'DRG_66',
 'DRG_660',
 'DRG_663',
 'DRG_665',
 'DRG_666',
 'DRG_668',
 'DRG_669',
 'DRG_67',
 'DRG_671',
 'DRG_673',
 'DRG_674',
 'DRG_68',
 'DRG_682',
 'DRG_683',
 'DRG_684',
 'DRG_686',
 'DRG_687',
 'DRG_689',
 'DRG_69',
 'DRG_690',
 'DRG_693',
 'DRG_694',
 'DRG_695',
 'DRG_696',
 'DRG_698',
 'DRG_699',
 'DRG_7',
 'DRG_70',
 'DRG_700',
 'DRG_707',
 'DRG_708',
 'DRG_71',
 'DRG_710',
 'DRG_711',
 'DRG_713',
 'DRG_715',
 'DRG_72',
 'DRG_722',
 'DRG_723',
 'DRG_724',
 'DRG_725',
 'DRG_727',
 'DRG_728',
 'DRG_729',
 'DRG_73',
 'DRG_737',
 'DRG_739',
 'DRG_74',
 'DRG_740',
 'DRG_742',
 'DRG_743',
 'DRG_744',
 'DRG_745',
 'DRG_746',
 'DRG_749',
 'DRG_75',
 'DRG_754',
 'DRG_755',
 'DRG_756',
 'DRG_757',
 'DRG_758',
 'DRG_759',
 'DRG_76',
 'DRG_760',
 'DRG_761',
 'DRG_765',
 'DRG_769',
 'DRG_774',
 'DRG_776',
 'DRG_78',
 'DRG_781',
 'DRG_79',
 'DRG_799',
 'DRG_80',
 'DRG_800',
 'DRG_802',
 'DRG_803',
 'DRG_804',
 'DRG_808',
 'DRG_809',
 'DRG_81',
 'DRG_810',
 'DRG_811',
 'DRG_812',
 'DRG_813',
 'DRG_814',
 'DRG_815',
 'DRG_816',
 'DRG_82',
 'DRG_820',
 'DRG_821',
 'DRG_822',
 'DRG_823',
 'DRG_824',
 'DRG_825',
 'DRG_826',
 'DRG_827',
 'DRG_829',
 'DRG_83',
 'DRG_834',
 'DRG_835',
 'DRG_836',
 'DRG_837',
 'DRG_838',
 'DRG_839',
 'DRG_84',
 'DRG_840',
 'DRG_841',
 'DRG_842',
 'DRG_843',
 'DRG_844',
 'DRG_845',
 'DRG_846',
 'DRG_847',
 'DRG_848',
 'DRG_849',
 'DRG_85',
 'DRG_853',
 'DRG_854',
 'DRG_855',
 'DRG_856',
 'DRG_857',
 'DRG_858',
 'DRG_86',
 'DRG_862',
 'DRG_863',
 'DRG_864',
 'DRG_865',
 'DRG_866',
 'DRG_867',
 'DRG_868',
 'DRG_869',
 'DRG_87',
 'DRG_870',
 'DRG_871',
 'DRG_872',
 'DRG_88',
 'DRG_880',
 'DRG_884',
 'DRG_885',
 'DRG_89',
 'DRG_896',
 'DRG_897',
 'DRG_9',
 'DRG_90',
 'DRG_901',
 'DRG_902',
 'DRG_904',
 'DRG_907',
 'DRG_908',
 'DRG_909',
 'DRG_91',
 'DRG_913',
 'DRG_914',
 'DRG_915',
 'DRG_916',
 'DRG_917',
 'DRG_918',
 'DRG_919',
 'DRG_92',
 'DRG_920',
 'DRG_921',
 'DRG_922',
 'DRG_93',
 'DRG_934',
 'DRG_935',
 'DRG_939',
 'DRG_94',
 'DRG_940',
 'DRG_945',
 'DRG_946',
 'DRG_947',
 'DRG_948',
 'DRG_949',
 'DRG_95',
 'DRG_951',
 'DRG_955',
 'DRG_957',
 'DRG_96',
 'DRG_963',
 'DRG_964',
 'DRG_969',
 'DRG_97',
 'DRG_970',
 'DRG_974',
 'DRG_975',
 'DRG_976',
 'DRG_977',
 'DRG_98',
 'DRG_981',
 'DRG_982',
 'DRG_983',
 'DRG_984',
 'DRG_985',
 'DRG_987',
 'DRG_988',
 'DRG_989',
 'DRG_999',
 'MDC_0',
 'MDC_1',
 'MDC_10',
 'MDC_11',
 'MDC_12',
 'MDC_13',
 'MDC_14',
 'MDC_16',
 'MDC_17',
 'MDC_18',
 'MDC_19',
 'MDC_2',
 'MDC_20',
 'MDC_21',
 'MDC_22',
 'MDC_23',
 'MDC_24',
 'MDC_25',
 'MDC_3',
 'MDC_4',
 'MDC_5',
 'MDC_6',
 'MDC_7',
 'MDC_8',
 'MDC_9',
 'DX_4730',
 'DX_70711',
 'DX_36132',
 'DX_94301',
 'DX_36844',
 'DX_4293',
 'DX_2809',
 'DX_V854',
 'DX_64821',
 'DX_V118',
 'DX_53540',
 'DX_7804',
 'DX_37271',
 'DX_4802',
 'DX_5758',
 'DX_3343',
 'DX_41405',
 'DX_5690',
 'DX_1451',
 'DX_28269',
 'DX_2513',
 'DX_38910',
 'DX_V157',
 'DX_29181',
 'DX_4413',
 'DX_60490',
 'DX_34500',
 'DX_23770',
 'DX_20501',
 'DX_0416',
 'DX_V600',
 'DX_44020',
 'DX_87340',
 'DX_V4987',
 'DX_1410',
 'DX_1118',
 'DX_5966',
 'DX_65951',
 'DX_2382',
 'DX_2781',
 'DX_8761',
 'DX_30989',
 'DX_74760',
 'DX_53013',
 'DX_V4459',
 'DX_68102',
 'DX_4321',
 'DX_4142',
 'DX_37500',
 'DX_V4283',
 'DX_V1047',
 'DX_V166',
 'DX_9630',
 'DX_5225',
 'DX_1521',
 'DX_41092',
 'DX_67424',
 'DX_1261',
 'DX_1619',
 'DX_95901',
 'DX_6189',
 'DX_1542',
 'DX_6228',
 'DX_1749',
 'DX_81344',
 'DX_41041',
 'DX_94100',
 'DX_7010',
 'DX_20411',
 'DX_2849',
 'DX_88100',
 'DX_V8403',
 'DX_9244',
 'DX_71489',
 'DX_V5863',
 'DX_8028',
 'DX_47879',
 'DX_45371',
 'DX_78961',
 'DX_4373',
 'DX_7914',
 'DX_1849',
 'DX_20970',
 'DX_7587',
 'DX_64623',
 'DX_71166',
 'DX_V0981',
 'DX_6272',
 'DX_4414',
 'DX_3553',
 'DX_V153',
 'DX_36453',
 'DX_57149',
 'DX_4548',
 'DX_8670',
 'DX_64793',
 'DX_7213',
 'DX_79981',
 'DX_2848',
 'DX_94321',
 'DX_3180',
 'DX_2753',
 'DX_00801',
 'DX_70707',
 'DX_V620',
 'DX_72232',
 'DX_42731',
 'DX_2732',
 'DX_36260',
 'DX_05322',
 'DX_5997',
 'DX_20932',
 'DX_44324',
 'DX_43819',
 'DX_V551',
 'DX_3360',
 'DX_6069',
 'DX_78729',
 'DX_48802',
 'DX_37503',
 'DX_2363',
 'DX_20380',
 'DX_64893',
 'DX_5921',
 'DX_9148',
 'DX_37993',
 'DX_87352',
 'DX_V435',
 'DX_4259',
 'DX_V1300',
 'DX_7948',
 'DX_36241',
 'DX_44409',
 'DX_1885',
 'DX_9120',
 'DX_1508',
 'DX_17310',
 'DX_3545',
 'DX_20030',
 'DX_V192',
 'DX_V0269',
 'DX_5187',
 'DX_37730',
 'DX_71510',
 'DX_3570',
 'DX_1570',
 'DX_99645',
 'DX_17360',
 'DX_4650',
 'DX_86413',
 'DX_3108',
 'DX_8220',
 'DX_5679',
 'DX_33721',
 'DX_37921',
 'DX_8479',
 'DX_78834',
 'DX_53270',
 'DX_5368',
 'DX_32702',
 'DX_30521',
 'DX_33828',
 'DX_9166',
 'DX_9642',
 'DX_01890',
 'DX_27669',
 'DX_V482',
 'DX_9401',
 'DX_2386',
 'DX_8920',
 'DX_7813',
 'DX_99984',
 'DX_99631',
 'DX_1913',
 'DX_7592',
 'DX_4219',
 'DX_6159',
 'DX_2535',
 'DX_04103',
 'DX_7569',
 'DX_V6284',
 'DX_43491',
 'DX_7380',
 'DX_8630',
 'DX_20410',
 'DX_9141',
 'DX_74900',
 'DX_V1741',
 'DX_20934',
 'DX_36645',
 'DX_74259',
 'DX_66984',
 'DX_85105',
 'DX_V6402',
 'DX_1639',
 'DX_75671',
 'DX_5160',
 'DX_5186',
 'DX_2940',
 'DX_25051',
 'DX_30392',
 'DX_71511',
 'DX_2764',
 'DX_2828',
 'DX_V180',
 'DX_9654',
 'DX_V444',
 'DX_7273',
 'DX_57142',
 'DX_29664',
 'DX_20277',
 'DX_45181',
 'DX_73312',
 'DX_94234',
 'DX_30112',
 'DX_36107',
 'DX_9584',
 'DX_V412',
 'DX_17350',
 'DX_33905',
 'DX_29570',
 'DX_28310',
 'DX_20074',
 'DX_6241',
 'DX_99686',
 'DX_57481',
 'DX_37946',
 'DX_5538',
 'DX_V5862',
 'DX_30420',
 'DX_5989',
 'DX_1923',
 'DX_78097',
 'DX_48281',
 'DX_99951',
 'DX_52323',
 'DX_22804',
 'DX_72611',
 'DX_3540',
 'DX_59972',
 'DX_52341',
 'DX_37721',
 'DX_9971',
 'DX_29389',
 'DX_72402',
 'DX_33920',
 'DX_78659',
 'DX_5566',
 'DX_20601',
 'DX_5993',
 'DX_36019',
 'DX_37881',
 'DX_37854',
 'DX_80703',
 'DX_7503',
 'DX_6202',
 'DX_V144',
 'DX_4778',
 'DX_1471',
 'DX_9213',
 ...]

## Deceased or Alive

#### Alive

In [5]:
alive = (fn_pt[fn_pt.DIED == 0])

In [6]:
len(alive)

120091

#### Died

In [7]:
died = (fn_pt[fn_pt.DIED == 1])

In [8]:
len(died)

5856

## Total cost

In [9]:
totchg_missing = fn_pt[(fn_pt.TOTCHG>9999999999999999999) | (fn_pt.TOTCHG<0)]
totchg = fn_pt[(fn_pt.TOTCHG<9999999999999999999) & (fn_pt.TOTCHG>=0)]

In [10]:
DataFrameSummary(totchg[['TOTCHG']]).summary()

                   TOTCHG
count              123033
mean              86773.2
std                136375
min                   102
25%                 18781
50%                 37596
75%                 95135
max           4.90893e+06
counts             123033
uniques             80242
missing                 0
missing_perc           0%
types             numeric

#### Alive

In [11]:
DataFrameSummary(totchg[totchg.DIED == 0][['TOTCHG']]).summary()

                   TOTCHG
count              117273
mean              83122.2
std                128664
min                   102
25%                 18441
50%                 36458
75%                 90630
max           4.90893e+06
counts             117273
uniques             76647
missing                 0
missing_perc           0%
types             numeric

#### Died

In [12]:
DataFrameSummary(totchg[totchg.DIED == 1][['TOTCHG']]).summary()

                   TOTCHG
count                5694
mean               162086
std                234128
min                   446
25%               32666.2
50%                 80787
75%                192902
max           3.05879e+06
counts               5694
uniques              5615
missing                 0
missing_perc           0%
types             numeric

#### Missing

In [13]:
len(totchg_missing)

2633

In [14]:
len(totchg_missing[totchg_missing.DIED == 0])

2495

In [15]:
len(totchg_missing[totchg_missing.DIED == 1])

138

#### T-test

In [16]:
ttest_ind(totchg.TOTCHG, totchg[totchg.DIED == 1].TOTCHG, equal_var=False)

Ttest_indResult(statistic=-24.084698924140476, pvalue=2.6161702858197947e-122)

### Length of stay

In [24]:
fn_pt = pd.read_csv('../../../data/hcup/nis/all_year_combination/train_test.csv', dtype = str, quoting = csv.QUOTE_ALL)

In [29]:
fn_pt.LOS = fn_pt.LOS.astype(int)
fn_pt.DIED = fn_pt.DIED.astype(int)

In [32]:
los_missing = fn_pt[(fn_pt.LOS>9999999999999999999) | (fn_pt.LOS<0)]
los = fn_pt[(fn_pt.LOS<9999999999999999999) & (fn_pt.LOS>=0)]

In [33]:
DataFrameSummary(los[['LOS']]).summary()

                  LOS
count          126013
mean          10.1946
std            11.386
min                 0
25%                 3
50%                 6
75%                13
max               250
counts         126013
uniques           144
missing             0
missing_perc       0%
types         numeric

#### Alive

In [35]:
DataFrameSummary(los[los.DIED == 0][['LOS']]).summary()

                  LOS
count          120091
mean          10.0133
std            11.016
min                 0
25%                 3
50%                 6
75%                12
max               207
counts         120091
uniques           135
missing             0
missing_perc       0%
types         numeric

#### Died

In [36]:
DataFrameSummary(los[los.DIED == 1][['LOS']]).summary()

                  LOS
count            5856
mean          13.9083
std           16.8817
min                 0
25%                 4
50%                 9
75%                18
max               250
counts           5856
uniques           113
missing             0
missing_perc       0%
types         numeric

#### Missing

In [37]:
len(los_missing)

0

#### T-test

In [38]:
ttest_ind(los.LOS, los[los.DIED == 1].LOS, equal_var=False)

Ttest_indResult(statistic=-16.658911916390824, pvalue=5.6933411911184054e-61)

### Total discharges in a hospital

In [39]:
fn_pt = pd.read_pickle('../../../data/hcup/nis/all_year_combination/cleaned_for_repcv.pickle')

In [40]:
totdisc_missing = fn_pt[(fn_pt.TOTAL_DISC>9999999999999999999) | (fn_pt.TOTAL_DISC<0)]
totdisc = fn_pt[(fn_pt.TOTAL_DISC<9999999999999999999) & (fn_pt.TOTAL_DISC>=0)]

In [41]:
DataFrameSummary(totdisc[['TOTAL_DISC']]).summary()

             TOTAL_DISC
count            126013
mean            16425.8
std             17626.9
min                  17
25%                4411
50%                9760
75%               23026
max              121668
counts           126013
uniques            6856
missing               0
missing_perc         0%
types           numeric

#### Alive

In [42]:
DataFrameSummary(totdisc[totdisc.DIED == 0][['TOTAL_DISC']]).summary()

             TOTAL_DISC
count            120091
mean            16451.8
std             17641.7
min                  17
25%                4411
50%                9764
75%               23160
max              121668
counts           120091
uniques            6833
missing               0
missing_perc         0%
types           numeric

#### died

In [43]:
DataFrameSummary(totdisc[totdisc.DIED == 1][['TOTAL_DISC']]).summary()

             TOTAL_DISC
count              5856
mean            15905.4
std             17359.5
min                 106
25%             4309.25
50%                9225
75%               22305
max              121668
counts             5856
uniques            2741
missing               0
missing_perc         0%
types           numeric

#### missing

In [44]:
len(totdisc_missing)

0

#### T-test

In [45]:
ttest_ind(totdisc.TOTAL_DISC, totdisc[totdisc.DIED == 1].TOTAL_DISC, equal_var=False)

Ttest_indResult(statistic=2.240792437305709, pvalue=0.025073531158441516)

In [46]:
0.0005911119266780529*22

0.013004462386917165

### Age

In [47]:
DataFrameSummary(fn_pt[['AGE']]).summary()

                  AGE
count          126013
mean          58.5265
std           15.8922
min                18
25%                50
50%                61
75%                70
max               100
counts         126013
uniques            83
missing             0
missing_perc       0%
types         numeric

#### Alive

In [48]:
DataFrameSummary(alive[['AGE']]).summary()

                  AGE
count          120091
mean          58.2496
std           15.9181
min                18
25%                49
50%                61
75%                70
max               100
counts         120091
uniques            83
missing             0
missing_perc       0%
types         numeric

#### Died

In [49]:
DataFrameSummary(died[['AGE']]).summary()

                  AGE
count            5856
mean          64.1786
std           14.2377
min                18
25%                57
50%                66
75%                75
max                96
counts           5856
uniques            79
missing             0
missing_perc       0%
types         numeric

#### T-test

In [50]:
ttest_ind(fn_pt.AGE, died.AGE, equal_var=False)

Ttest_indResult(statistic=-29.535738673824767, pvalue=4.17633918042171e-180)

### Gender

In [51]:
gender = fn_pt[(fn_pt.FEMALE<9999999999999999999) & (fn_pt.FEMALE>=0)]

In [52]:
gender_missing = fn_pt[(fn_pt.FEMALE>9999999999999999999) | (fn_pt.FEMALE<0)]

In [53]:
DataFrameSummary(gender[['FEMALE']]).summary()

                FEMALE
count           126009
mean          0.499615
std           0.500002
min                  0
25%                  0
50%                  0
75%                  1
max                  1
counts          126009
uniques              2
missing              0
missing_perc        0%
types             bool

In [54]:
len(gender[gender.FEMALE == 1])

62956

In [55]:
len(gender[gender.FEMALE == 0])

63053

In [56]:
len(gender_missing)

4

In [62]:
len(gender_missing[gender_missing.DIED == 1])

0

In [63]:
len(gender_missing[gender_missing.DIED == 0])

4

#### Alive

In [57]:
gender_alive = gender[gender.DIED == 0]

In [58]:
len(gender_alive[gender_alive.FEMALE == 0])

59755

#### Died

In [59]:
gender_deceased = gender[gender.DIED == 1]

In [60]:
len(gender_deceased[gender_deceased.FEMALE == 0])

3259

### Race/ethnicity

In [64]:
fn_pt.filter(regex = 'RACE').head()

   RACE_1  RACE_2  RACE_3  RACE_4  RACE_5  RACE_6
0       1       0       0       0       0       0
1       1       0       0       0       0       0
2       1       0       0       0       0       0
3       1       0       0       0       0       0
4       1       0       0       0       0       0

In [65]:
len(fn_pt)

126013

In [66]:
list(fn_pt['RACE_1']).count(1)

83079

In [67]:
list(fn_pt['RACE_2']).count(1)

10792

In [68]:
list(fn_pt['RACE_3']).count(1)

11109

In [69]:
list(fn_pt['RACE_4']).count(1)

3702

In [70]:
list(fn_pt['RACE_5']).count(1)

444

In [71]:
list(fn_pt['RACE_6']).count(1)

3462

#### Alive

In [72]:
list(fn_pt[fn_pt.DIED == 0]['RACE_1']).count(1)

79194

In [73]:
list(fn_pt[fn_pt.DIED == 0]['RACE_2']).count(1)

10235

In [74]:
list(fn_pt[fn_pt.DIED == 0]['RACE_3']).count(1)

10564

In [75]:
list(fn_pt[fn_pt.DIED == 0]['RACE_4']).count(1)

3497

In [76]:
list(fn_pt[fn_pt.DIED == 0]['RACE_5']).count(1)

418

In [77]:
list(fn_pt[fn_pt.DIED == 0]['RACE_6']).count(1)

3281

#### Died

In [78]:
list(fn_pt[fn_pt.DIED == 1]['RACE_1']).count(1)

3858

In [79]:
list(fn_pt[fn_pt.DIED == 1]['RACE_2']).count(1)

552

In [80]:
list(fn_pt[fn_pt.DIED == 1]['RACE_3']).count(1)

542

In [81]:
list(fn_pt[fn_pt.DIED == 1]['RACE_4']).count(1)

204

In [82]:
list(fn_pt[fn_pt.DIED == 1]['RACE_5']).count(1)

26

In [83]:
list(fn_pt[fn_pt.DIED == 1]['RACE_6']).count(1)

181

### Charlson's Comorbidiy Index

In [84]:
DataFrameSummary(fn_pt[['CCI']]).summary()

                  CCI
count          126013
mean          4.39957
std           4.54665
min                 0
25%                 2
50%                 2
75%                 5
max                62
counts         126013
uniques            49
missing             0
missing_perc       0%
types         numeric

In [85]:
DataFrameSummary(alive[['CCI']]).summary()

                  CCI
count          120091
mean           4.3436
std           4.49591
min                 0
25%                 2
50%                 2
75%                 5
max                62
counts         120091
uniques            49
missing             0
missing_perc       0%
types         numeric

In [86]:
DataFrameSummary(died[['CCI']]).summary()

                  CCI
count            5856
mean          5.54355
std           5.35291
min                 0
25%                 2
50%                 3
75%                 7
max                56
counts           5856
uniques            38
missing             0
missing_perc       0%
types         numeric

In [87]:
ttest_ind(fn_pt.CCI, died.CCI, equal_var=False)

Ttest_indResult(statistic=-16.086687379765056, pvalue=4.36951249911837e-57)

### Number of diagnoses

In [14]:
DataFrameSummary(fn_pt[['NDX']]).summary()

                  NDX
count          138932
mean           13.411
std           5.64126
min                 3
25%                 9
50%                13
75%                17
max                50
counts         138932
uniques            40
missing             0
missing_perc       0%
types         numeric

In [15]:
DataFrameSummary(alive[['NDX']]).summary()

                  NDX
count          132423
mean          13.1548
std           5.51007
min                 3
25%                 9
50%                12
75%                16
max                50
counts         132423
uniques            40
missing             0
missing_perc       0%
types         numeric

In [16]:
DataFrameSummary(died[['NDX']]).summary()

                  NDX
count            6509
mean          18.6244
std            5.7512
min                 3
25%                15
50%                18
75%                24
max                50
counts           6509
uniques            33
missing             0
missing_perc       0%
types         numeric

In [17]:
ttest_ind(fn_pt.NDX, died.NDX, equal_var=False)

Ttest_indResult(statistic=-71.53872016879725, pvalue=0.0)

### Number of procedures

In [18]:
DataFrameSummary(fn_pt[['NPR']]).summary()

                  NPR
count          138932
mean          2.20067
std           2.71563
min                 0
25%                 0
50%                 1
75%                 3
max                31
counts         138932
uniques            32
missing             0
missing_perc       0%
types         numeric

In [19]:
DataFrameSummary(alive[['NPR']]).summary()

                  NPR
count          132423
mean            2.083
std           2.58088
min                 0
25%                 0
50%                 1
75%                 3
max                30
counts         132423
uniques            31
missing             0
missing_perc       0%
types         numeric

In [20]:
DataFrameSummary(died[['NPR']]).summary()

                  NPR
count            6509
mean          4.59472
std           3.98551
min                 0
25%                 2
50%                 4
75%                 6
max                31
counts           6509
uniques            27
missing             0
missing_perc       0%
types         numeric

In [22]:
ttest_ind(fn_pt.NPR, died.NPR, equal_var=False)

Ttest_indResult(statistic=-47.943802523760276, pvalue=0.0)

### Number of chronic conditions

In [23]:
DataFrameSummary(fn_pt[['NCHRONIC']]).summary()

             NCHRONIC
count          138932
mean          5.93227
std           2.51184
min                 0
25%                 4
50%                 6
75%                 7
max                22
counts         138932
uniques            22
missing             0
missing_perc       0%
types         numeric

In [24]:
DataFrameSummary(alive[['NCHRONIC']]).summary()

             NCHRONIC
count          132423
mean          5.88428
std           2.49663
min                 0
25%                 4
50%                 6
75%                 7
max                22
counts         132423
uniques            22
missing             0
missing_perc       0%
types         numeric

In [25]:
DataFrameSummary(died[['NCHRONIC']]).summary()

             NCHRONIC
count            6509
mean          6.90859
std           2.61927
min                 1
25%                 5
50%                 7
75%                 8
max                20
counts           6509
uniques            20
missing             0
missing_perc       0%
types         numeric

In [26]:
ttest_ind(fn_pt.NCHRONIC, died.NCHRONIC, equal_var=False)

Ttest_indResult(statistic=-29.444803024452206, pvalue=7.180738347854068e-180)

### Insurance type

In [88]:
fn_pt.filter(regex = 'PAY1').head()

   PAY1_1  PAY1_2  PAY1_3  PAY1_4  PAY1_5  PAY1_6
0       0       0       1       0       0       0
1       1       0       0       0       0       0
2       0       0       1       0       0       0
3       0       0       1       0       0       0
4       1       0       0       0       0       0

In [89]:
list(fn_pt['PAY1_1']).count(1)

51570

In [90]:
list(fn_pt['PAY1_2']).count(1)

14639

In [91]:
list(fn_pt['PAY1_3']).count(1)

52950

In [92]:
list(fn_pt['PAY1_4']).count(1)

2623

In [93]:
list(fn_pt['PAY1_5']).count(1)

353

In [94]:
list(fn_pt['PAY1_6']).count(1)

3606

#### Alive

In [95]:
list(alive['PAY1_1']).count(1)

48390

In [96]:
list(alive['PAY1_2']).count(1)

14038

In [97]:
list(alive['PAY1_3']).count(1)

51118

In [98]:
list(alive['PAY1_4']).count(1)

2503

In [99]:
list(alive['PAY1_5']).count(1)

340

In [100]:
list(alive['PAY1_6']).count(1)

3442

#### Died

In [101]:
list(died['PAY1_1']).count(1)

3149

In [102]:
list(died['PAY1_2']).count(1)

598

In [103]:
list(died['PAY1_3']).count(1)

1816

In [104]:
list(died['PAY1_4']).count(1)

120

In [105]:
list(died['PAY1_5']).count(1)

13

In [106]:
list(died['PAY1_6']).count(1)

148

### Mean household income per ZIP code

In [107]:
fn_pt.filter(regex = 'ZIPINC_QRTL').head()

   ZIPINC_QRTL_1  ZIPINC_QRTL_2  ZIPINC_QRTL_3  ZIPINC_QRTL_4
0              1              0              0              0
1              1              0              0              0
2              0              0              1              0
3              0              1              0              0
4              0              1              0              0

In [108]:
list(fn_pt['ZIPINC_QRTL_1']).count(1)

28198

In [109]:
list(fn_pt['ZIPINC_QRTL_2']).count(1)

30023

In [110]:
list(fn_pt['ZIPINC_QRTL_3']).count(1)

31874

In [111]:
list(fn_pt['ZIPINC_QRTL_4']).count(1)

32975

#### Alive

In [112]:
list(alive['ZIPINC_QRTL_1']).count(1)

26802

In [113]:
list(alive['ZIPINC_QRTL_2']).count(1)

28665

In [114]:
list(alive['ZIPINC_QRTL_3']).count(1)

30334

In [115]:
list(alive['ZIPINC_QRTL_4']).count(1)

31484

#### Died

In [116]:
list(died['ZIPINC_QRTL_1']).count(1)

1384

In [117]:
list(died['ZIPINC_QRTL_2']).count(1)

1345

In [118]:
list(died['ZIPINC_QRTL_3']).count(1)

1515

In [119]:
list(died['ZIPINC_QRTL_4']).count(1)

1481

### Hospital location, Teaching status

In [70]:
fn_pt.filter(regex = 'HOSP_LOCTEACH').head()

   HOSP_LOCTEACH_1  HOSP_LOCTEACH_2  HOSP_LOCTEACH_3
0                0                1                0
1                1                0                0
2                0                1                0
3                0                1                0
4                0                0                1

In [71]:
list(fn_pt['HOSP_LOCTEACH_1']).count(1)

9584

In [72]:
list(fn_pt['HOSP_LOCTEACH_2']).count(1)

35804

In [73]:
list(fn_pt['HOSP_LOCTEACH_3']).count(1)

92781

#### Alive

In [74]:
list(alive['HOSP_LOCTEACH_1']).count(1)

9195

In [75]:
list(alive['HOSP_LOCTEACH_2']).count(1)

34013

In [76]:
list(alive['HOSP_LOCTEACH_3']).count(1)

88488

#### Died

In [8]:
list(died['HOSP_LOCTEACH_1']).count(1)

389

In [9]:
list(died['HOSP_LOCTEACH_2']).count(1)

1791

In [10]:
list(died['HOSP_LOCTEACH_3']).count(1)

4293

### Hospital Region

In [12]:
fn_pt.filter(regex = 'HOSP_REGION').head()

   HOSP_REGION_1  HOSP_REGION_2  HOSP_REGION_3  HOSP_REGION_4
0              0              0              0              1
1              0              0              0              1
2              0              0              0              1
3              0              0              0              1
4              0              0              0              1

In [13]:
list(fn_pt['HOSP_REGION_1']).count(1)

25445

In [14]:
list(fn_pt['HOSP_REGION_2']).count(1)

33384

In [15]:
list(fn_pt['HOSP_REGION_3']).count(1)

53240

In [16]:
list(fn_pt['HOSP_REGION_4']).count(1)

26863

#### Alive

In [18]:
list(alive['HOSP_REGION_1']).count(1)

24275

In [19]:
list(alive['HOSP_REGION_2']).count(1)

31904

In [20]:
list(alive['HOSP_REGION_3']).count(1)

50754

In [21]:
list(alive['HOSP_REGION_4']).count(1)

25490

#### Died

In [22]:
list(died['HOSP_REGION_1']).count(1)

1170

In [23]:
list(died['HOSP_REGION_2']).count(1)

1480

In [24]:
list(died['HOSP_REGION_3']).count(1)

2486

In [25]:
list(died['HOSP_REGION_4']).count(1)

1373

### Acute Leukemia

In [21]:
alive.columns[alive.columns.str.startswith("DX_2040")]

Index(['DX_20401', 'DX_20402', 'DX_20400'], dtype='object')

In [22]:
alive.columns[alive.columns.str.startswith("DX_2050")]

Index(['DX_20502', 'DX_20500', 'DX_20501'], dtype='object')

In [23]:
alive.columns[alive.columns.str.startswith("DX_2060")]

Index(['DX_20600', 'DX_20601', 'DX_20602'], dtype='object')

In [24]:
alive.columns[alive.columns.str.startswith("DX_2070")]

Index(['DX_20701', 'DX_20700', 'DX_20702'], dtype='object')

In [25]:
alive.columns[alive.columns.str.startswith("DX_2080")]

Index(['DX_20801', 'DX_20800', 'DX_20802'], dtype='object')

In [31]:
list(fn_pt.DX_20400.as_matrix()|fn_pt.DX_20401.as_matrix()|fn_pt.DX_20402.as_matrix()|fn_pt.DX_20500.as_matrix()\
|fn_pt.DX_20501.as_matrix()|fn_pt.DX_20502.as_matrix()|fn_pt.DX_20600.as_matrix()|fn_pt.DX_20601.as_matrix()\
|fn_pt.DX_20602.as_matrix()|fn_pt.DX_20700.as_matrix()|fn_pt.DX_20701.as_matrix()|fn_pt.DX_20702.as_matrix()\
|fn_pt.DX_20800.as_matrix()|fn_pt.DX_20801.as_matrix()|fn_pt.DX_20802.as_matrix()).count(1)

/apps/python3/3.6.5/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.

33716

#### Alive

In [28]:
list(alive.DX_20400.as_matrix()|alive.DX_20401.as_matrix()|alive.DX_20402.as_matrix()|alive.DX_20500.as_matrix()\
|alive.DX_20501.as_matrix()|alive.DX_20502.as_matrix()|alive.DX_20600.as_matrix()|alive.DX_20601.as_matrix()\
|alive.DX_20602.as_matrix()|alive.DX_20700.as_matrix()|alive.DX_20701.as_matrix()|alive.DX_20702.as_matrix()\
|alive.DX_20800.as_matrix()|alive.DX_20801.as_matrix()|alive.DX_20802.as_matrix()).count(1)

/apps/python3/3.6.5/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.

31512

#### Died

In [30]:
list(died.DX_20400.as_matrix()|died.DX_20401.as_matrix()|died.DX_20402.as_matrix()|died.DX_20500.as_matrix()\
|died.DX_20501.as_matrix()|died.DX_20502.as_matrix()|died.DX_20600.as_matrix()|died.DX_20601.as_matrix()\
|died.DX_20602.as_matrix()|died.DX_20700.as_matrix()|died.DX_20701.as_matrix()|died.DX_20702.as_matrix()\
|died.DX_20800.as_matrix()|died.DX_20801.as_matrix()|died.DX_20802.as_matrix()).count(0)

/apps/python3/3.6.5/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.

4305

### Mortality

In [26]:
len(died)

6509