In [1]:
from pandas_summary import DataFrameSummary
from scipy.stats import ttest_ind
import pandas as pd
import numpy as np
import csv

In [69]:
# data_left = pd.read_pickle('../../../data/hcup/nis/all_year_combination/total_withage_withCCI_filtered.pickle')
data_left = pd.read_csv('../../../data/hcup/nis/all_year_combination/train_test.csv', dtype = str, quoting = csv.QUOTE_ALL)

In [70]:
data_left.reset_index(drop = True, inplace = True)

In [71]:
data_left.AGE = data_left.AGE.astype(float)

In [72]:
data_right = pd.read_pickle("../../../data/hcup/nis/all_year_combination/fn_pt_missingdied.pickle")

In [73]:
data_right = data_right[data_left.columns]
data_middle = data_left.copy()
data_left = data_left.append(data_right)
data_left.reset_index(drop = True, inplace = True)
data_right = data_middle

In [81]:
data_right.index

RangeIndex(start=0, stop=126013, step=1)

In [82]:
data_left.index

RangeIndex(start=0, stop=126079, step=1)

In [76]:
data_left.head()

  AGE AGEDAY AGE_NEONATE    AHAID ... YEAR_y ZIPINC_QRTL row_id CCI
0  49    -99         NaN  6860460 ...    NaN           1      0   2
1  66    -99         NaN  6860045 ...    NaN           1      1   2
2  28    -99         NaN  6860028 ...    NaN           3      2   2
3  39    -99         NaN  6860028 ...    NaN           2      3   2
4  62    -99         NaN  6860019 ...    NaN           2      4   2

[5 rows x 361 columns]

In [77]:
data_right = data_right.astype(str)

In [78]:
data_right.reset_index(drop = True, inplace = True)

In [79]:
len(data_left)

126079

In [80]:
len(data_right)

126013

## AGE

In [83]:
DataFrameSummary(data_left[['AGE']].astype(float)).summary()

                  AGE
count          126079
mean          58.5278
std           15.8914
min                18
25%                50
50%                61
75%                70
max               100
counts         126079
uniques            83
missing             0
missing_perc       0%
types         numeric

In [84]:
DataFrameSummary(data_right[['AGE']].astype(float)).summary()

                  AGE
count          126013
mean          58.5265
std           15.8922
min                18
25%                50
50%                61
75%                70
max               100
counts         126013
uniques            83
missing             0
missing_perc       0%
types         numeric

In [85]:
ttest_ind(data_left.AGE.astype(float), data_right.AGE.astype(float), equal_var=False)

Ttest_indResult(statistic=0.020078540879196794, pvalue=0.983980734483361)

## Total cost

In [86]:
# missing or invalid/inconsistant data are represented by alphabats or negative numbers

totchg_left_missing = data_left[(data_left.TOTCHG.isnull()) | (data_left.TOTCHG=='A') | (data_left.TOTCHG=='B') | (data_left.TOTCHG=='C') | (data_left.TOTCHG < '0') | (data_left.TOTCHG == 'nan')]
totchg_left = data_left.drop(index = totchg_left_missing.index)
#totchg = data[data.TOTCHG!='C']
#totchg = data[data.TOTCHG!='A']
#totchg = data[data.TOTCHG!='B']
#totchg = data[data.TOTCHG >= '0']
totchg_left.TOTCHG = totchg_left.TOTCHG.astype(float)

In [87]:
totchg_right_missing = data_right[(data_right.TOTCHG.isnull()) | (data_right.TOTCHG=='A') | (data_right.TOTCHG=='B') | (data_right.TOTCHG=='C') | (data_right.TOTCHG < '0') | (data_right.TOTCHG == 'nan')]
totchg_right = data_right.drop(index = totchg_right_missing.index)
#totchg = data[data.TOTCHG!='C']
#totchg = data[data.TOTCHG!='A']
#totchg = data[data.TOTCHG!='B']
#totchg = data[data.TOTCHG >= '0']
totchg_right.TOTCHG = totchg_right.TOTCHG.astype(float)

In [88]:
DataFrameSummary(totchg_left[['TOTCHG']]).summary()

                   TOTCHG
count              123099
mean              86767.7
std                136364
min                   102
25%               18780.5
50%                 37593
75%                 95129
max           4.90893e+06
counts             123099
uniques             80242
missing                 0
missing_perc           0%
types             numeric

In [89]:
DataFrameSummary(totchg_right[['TOTCHG']]).summary()

                   TOTCHG
count              123033
mean              86773.2
std                136375
min                   102
25%                 18781
50%                 37596
75%                 95135
max           4.90893e+06
counts             123033
uniques             80242
missing                 0
missing_perc           0%
types             numeric

In [90]:
ttest_ind(totchg_left.TOTCHG, totchg_right.TOTCHG, equal_var=False)

Ttest_indResult(statistic=-0.009872064478195776, pvalue=0.9921233681106227)

In [91]:
len(totchg_left_missing)

2980

In [92]:
len(totchg_right_missing)

2980

## Gender

In [93]:
female_left_missing = data_left[(data_left.FEMALE.isnull()) | (data_left.FEMALE=='A') | (data_left.FEMALE=='B') | (data_left.FEMALE=='C') | (data_left.FEMALE < '0') | (data_left.FEMALE == 'nan')]
female_left = data_left.drop(index = female_left_missing.index)

In [94]:
female_right_missing = data_right[(data_right.FEMALE.isnull()) | (data_right.FEMALE=='A') | (data_right.FEMALE=='B') | (data_right.FEMALE=='C') | (data_right.FEMALE < '0') | (data_right.FEMALE == 'nan')]
female_right = data_right.drop(index = female_right_missing.index)

In [95]:
DataFrameSummary(female_left[['FEMALE']]).summary()

              FEMALE
count         126075
unique             2
top                0
freq           63092
counts        126075
uniques            2
missing            0
missing_perc      0%
types           bool

In [96]:
DataFrameSummary(female_right[['FEMALE']]).summary()

              FEMALE
count         126009
unique             2
top                0
freq           63053
counts        126009
uniques            2
missing            0
missing_perc      0%
types           bool

In [97]:
len(female_left_missing)

4

In [98]:
len(female_right_missing)

4

## Race

In [99]:
race_left_missing = data_left[(data_left.RACE.isnull()) | (data_left.RACE=='A') | (data_left.RACE=='B') | (data_left.RACE=='C') | (data_left.RACE < '0') | (data_left.RACE == 'nan')]
race_left = data_left.drop(index = race_left_missing.index)

In [100]:
race_right_missing = data_right[(data_right.RACE.isnull()) | (data_right.RACE=='A') | (data_right.RACE=='B') | (data_right.RACE=='C') | (data_right.RACE < '0') | (data_right.RACE == 'nan')]
race_right = data_right.drop(index = race_right_missing.index)

In [101]:
len(race_left[race_left.RACE == "1"])

83106

In [102]:
len(race_left[race_left.RACE == "2"])

10797

In [103]:
len(race_left_missing)

13455

In [104]:
len(race_right[race_right.RACE == "1"])

83079

In [105]:
len(race_right[race_right.RACE == "2"])

10792

In [106]:
len(race_right_missing)

13425

## CCI

In [107]:
DataFrameSummary(data_left[['CCI']].astype(float)).summary()

                  CCI
count          126079
mean          4.39976
std           4.54696
min                 0
25%                 2
50%                 2
75%                 5
max                62
counts         126079
uniques            49
missing             0
missing_perc       0%
types         numeric

In [108]:
DataFrameSummary(data_right[['CCI']].astype(float)).summary()

                  CCI
count          126013
mean          4.39957
std           4.54665
min                 0
25%                 2
50%                 2
75%                 5
max                62
counts         126013
uniques            49
missing             0
missing_perc       0%
types         numeric

In [109]:
ttest_ind(data_left.CCI.astype(float), data_right.CCI.astype(float), equal_var=False)

Ttest_indResult(statistic=0.010347479743271378, pvalue=0.9917440611858058)

## Insurance Type

In [110]:
# missing or invalid/inconsistant data are represented by alphabats or negative numbers

pay1_left_missing = data_left[(data_left.PAY1.isnull()) | (data_left.PAY1=='A') | (data_left.PAY1=='B') | (data_left.PAY1=='C') | (data_left.PAY1 < '0') | (data_left.PAY1 == 'nan')]
pay1_left = data_left.drop(index = pay1_left_missing.index)
# pay1_left.PAY1 = pay1_left.PAY1.astype(float)

In [111]:
pay1_right_missing = data_right[(data_right.PAY1.isnull()) | (data_right.PAY1=='A') | (data_right.PAY1=='B') | (data_right.PAY1=='C') | (data_right.PAY1 < '0') | (data_right.PAY1 == 'nan')]
pay1_right = data_right.drop(index = pay1_right_missing.index)
# pay1_right.PAY1 = pay1_right.PAY1.astype(float)

In [112]:
len(pay1_left[pay1_left.PAY1 == "1"])

51601

In [113]:
len(pay1_left[pay1_left.PAY1 == "2"])

14642

In [114]:
len(pay1_left[pay1_left.PAY1 == "3"])

52966

In [115]:
len(pay1_left_missing)

272

In [116]:
len(pay1_right[pay1_right.PAY1 == "1"])

51570

In [117]:
len(pay1_right[pay1_right.PAY1 == "2"])

14639

In [118]:
len(pay1_right[pay1_right.PAY1 == "3"])

52950

In [119]:
len(pay1_right_missing)

272

## Income per ZIP code

In [120]:
# missing or invalid/inconsistant data are represented by alphabats or negative numbers

income_left_missing = data_left[(data_left.ZIPINC_QRTL.isnull()) | (data_left.ZIPINC_QRTL=='A') | (data_left.ZIPINC_QRTL=='B') | (data_left.ZIPINC_QRTL=='C') | (data_left.ZIPINC_QRTL=='F') | (data_left.ZIPINC_QRTL=='M') | (data_left.ZIPINC_QRTL < '0') | (data_left.ZIPINC_QRTL == 'nan')]
income_left = data_left.drop(index = income_left_missing.index)

In [121]:
income_right_missing = data_right[(data_right.ZIPINC_QRTL.isnull()) | (data_right.ZIPINC_QRTL=='A') | (data_right.ZIPINC_QRTL=='B') | (data_right.ZIPINC_QRTL=='C') | (data_right.ZIPINC_QRTL=='F') | (data_right.ZIPINC_QRTL=='M') | (data_right.ZIPINC_QRTL < '0') | (data_right.ZIPINC_QRTL == 'nan')]
income_right = data_right.drop(index = income_right_missing.index)

In [122]:
len(income_left[income_left.ZIPINC_QRTL == "1"])

28210

In [123]:
len(income_left[income_left.ZIPINC_QRTL == "2"])

30036

In [124]:
len(income_left[income_left.ZIPINC_QRTL == "3"])

31899

In [125]:
len(income_left[income_left.ZIPINC_QRTL == "4"])

32985

In [126]:
len(income_left_missing)

2949

In [127]:
len(income_right[income_right.ZIPINC_QRTL == "1"])

28198

In [128]:
len(income_right[income_right.ZIPINC_QRTL == "2"])

30023

In [129]:
len(income_right[income_right.ZIPINC_QRTL == "3"])

31874

In [130]:
len(income_right[income_right.ZIPINC_QRTL == "4"])

32975

In [131]:
len(income_right_missing)

2943

## LOS

In [132]:
los_left_missing = data_left[(data_left.LOS.isnull()) | (data_left.LOS=='A') | (data_left.LOS=='B') | (data_left.LOS=='C') | (data_left.LOS < '0') | (data_left.LOS == 'nan')]
los_left = data_left.drop(index = los_left_missing.index)

In [133]:
los_left.LOS = los_left.LOS.astype(float)

In [134]:
los_right_missing = data_right[(data_right.LOS.isnull()) | (data_right.LOS=='A') | (data_right.LOS=='B') | (data_right.LOS=='C') | (data_right.LOS < '0') | (data_right.LOS == 'nan')]
los_right = data_right.drop(index = los_right_missing.index)

In [135]:
los_right.LOS = los_right.LOS.astype(float)

In [136]:
DataFrameSummary(los_left[['LOS']]).summary()

                  LOS
count          126079
mean          10.1948
std           11.3864
min                 0
25%                 3
50%                 6
75%                13
max               250
counts         126079
uniques           144
missing             0
missing_perc       0%
types         numeric

In [137]:
len(los_left_missing)

0

In [138]:
DataFrameSummary(los_right[['LOS']]).summary()

                  LOS
count          126013
mean          10.1946
std            11.386
min                 0
25%                 3
50%                 6
75%                13
max               250
counts         126013
uniques           144
missing             0
missing_perc       0%
types         numeric

In [139]:
len(los_right_missing)

0

In [140]:
ttest_ind(los_left.LOS.astype(float), los_right.LOS.astype(float), equal_var=False)

Ttest_indResult(statistic=0.004399162913526559, pvalue=0.9964899906331333)